/**


####This acts as a whitelist
#
#To whitelist a file:
#!.gitignore
#
#To whitelist everything in a directory
#!nvim/

# track this file
!.gitignore
!nvim/
!nvim/**
!i3/
!i3/**
!kitty/
!kitty/**
!polybar/
!polybar/**
!rofi/
!rofi/**
!tmux/
!tmux/**
